.card {
  // font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 44em;
  max-width: 1300px;
  border: 0.05em solid black;
  border-radius: 5px;
  margin: 0 0.5em;
  padding: 1em;
  &:hover {
    box-shadow: 0 1em 1em .5em rgba(0,0,0,0.4);
    margin: 0 0 -.5em;
    .like, .cross {
      button {
        top: .3em;
        right: .3em;
      }
    }
  }
  box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.4);
  // overflow: hidden;
  & > * {
    flex: 1 100%;
  }
  .like, .cross {
    // height: 5%;
    height: 1.45em;
    position: relative;
    font-size: 1.45em;
    line-height: 1;
    button {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 1em;
      border: none;
      border-radius: 0;
      padding: 0;
      background: none;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }

  .like {
    button:hover, button:focus, button.active {
      color: green;
    }
  }

  .cross {
    button {
      color: red;
      // transition: font-size .5s;
      // &:hover, &:focus {
      //   font-size: 1.2em;
      //   transition: font-size .5s;
      // }
    }
  }

  .image {
    // height: 57.5%;
    height: 23em;
    img {
      max-height: 100%;
    }
  }
  .description {
    height: 16.25em;
    font-size: 1em;
    line-height: 1.25;
    // height: 37.5%;
    overflow: hidden;
    h2 {
      font-size: 2em;
      // line-height: 1;
      margin: 0.625em auto;
    }
    p {
      margin: 0;
      // overflow: hidden;
    }
  }
}

@media all and (min-width: 768px) {
  .card {
    height: 19em;
    &:hover {
      height: 20em;
    }
    // margin: 0 auto;
    .like, .cross {
      // height: 1.45em;
      // font-size: 1.45em;
      // line-height: 1;
    }
    .image {
      flex-basis: 40%;
      height: 15em;
    }
    .description {
      text-align: left;
      flex-basis: 60%;
      height: 13.75em;
    }
  }
}

// @media all and (min-width: 992px) {
//   .card {
//     height: 20em;
//   }
// }

@media all and (min-width: 1200px) {
  .card {
    height: 16em;
    &:hover {
      height: 17em;
    }
    .image {
      height: 12em;
    }
    .description {
      height: 11em;
    }
  }
}
