button {
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

input {
  border-radius: 5px 0 0 5px;
}

button, input {
  padding: 1em;
  border: 1px solid blue;
  font-size: 1em;
}

.searchBar {
  width: fit-content;
  margin: 0 auto;
  padding: 1.4em 0;
}
